/************************
Designed by : http://responsivewebinc.com
************************/
/* Open Sans  */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600');
/* General */
.ui-x body {
	color: #666666;
	font-size: 13px;
	line-height: 23px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}
.ui-x h1,
.ui-x h2,
.ui-x h3,
.ui-x h4,
.ui-x h5,
.ui-x h6 {
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 2px 0px;
	padding: 0px;
}
.ui-x h1 {
	font-size: 30px;
	line-height: 45px;
}
.ui-x h2 {
	font-size: 25px;
	line-height: 40px;
}
.ui-x h3 {
	font-size: 22px;
	line-height: 37px;
}
.ui-x h4 {
	font-size: 18px;
	line-height: 33px;
}
.ui-x h5 {
	font-size: 15px;
	line-height: 30px;
}
.ui-x h6 {
	font-size: 13px;
	line-height: 28px;
}
.ui-x p {
	margin: 2px 0px;
	padding: 0px;
	margin-bottom:5px;
	line-height:28px;
}
.ui-x a {
	text-decoration: none;
	color: #777;
}
.ui-x a:hover,.ui-x a:active,.ui-x a:focus {
	outline: 0;
	text-decoration: none;
	color: #999;
}
.ui-x hr {
	margin: 10px 0px;
	padding: 0px;
	border-top: 0px;
	border-bottom: 1px solid #eee;
}
.ui-x:focus {
	outline:none;
}
.ui-x::-moz-focus-inner {
	border:0;
}
/* Text color classes */
.ui-x .white {
  color: #ffffff !important;
}
.ui-x .grey {
  color: #eeeeee !important;
}
.ui-x .black {
  color: #555555 !important;
}
.ui-x .red {
  color: #f75353 !important;
}
.ui-x .green {
  color: #51d466 !important;
}
.ui-x .lblue {
  color: #32c8de !important;
}
.ui-x .blue {
  color: #609cec !important;
}
.ui-x .orange {
  color: #f78153 !important;
}
.ui-x .yellow {
  color: #fcd419 !important;
}
.ui-x .purple {
  color: #cb79e6 !important;
}
.ui-x .rose {
  color: #ff61e7 !important;
}
.ui-x .brown {
  color: #d08166 !important;
}
/* Background color classes */
.ui-x .bg-white {
  background-color: #ffffff !important;
}
.ui-x .bg-grey {
  background-color: #eeeeee !important;
}
.ui-x .bg-black {
  background-color: #555555 !important;
}
.ui-x .bg-red {
  background-color: #f75353 !important;
}
.ui-x .bg-green {
  background-color: #51d466 !important;
}
.ui-x .bg-lblue {
  background-color: #32c8de !important;
}
.ui-x .bg-blue {
  background-color: #609cec !important;
}
.ui-x .bg-orange {
  background-color: #f78153 !important;
}
.ui-x .bg-yellow {
  background-color: #fcd419 !important;
}
.ui-x .bg-purple {
  background-color: #cb79e6 !important;
}
.ui-x .bg-rose {
  background-color: #ff61e7 !important;
}
.ui-x .bg-brown {
  background-color: #d08166 !important;
}
/* Border color classes */
.ui-x .br-white {
  border: 1px solid #ffffff !important;
}
.ui-x .br-grey {
  border: 1px solid #eeeeee;
}
.ui-x .br-black {
  border: 1px solid #555555;
}
.ui-x .br-red {
  border: 1px solid #f75353;
}
.ui-x .br-green {
  border: 1px solid #51d466;
}
.ui-x .br-lblue {
  border: 1px solid #32c8de;
}
.ui-x .br-blue {
  border: 1px solid #609cec;
}
.ui-x .br-orange {
  border: 1px solid #f78153;
}
.ui-x .br-yellow {
  border: 1px solid #fcd419;
}
.ui-x .br-purple {
  border: 1px solid #cb79e6;
}
.ui-x .br-rose {
  border: 1px solid #ff61e7;
}
.ui-x .br-brown {
  border: 1px solid #d08166;
}
/* Button classes */
.ui-x .btn {
	border-radius: 2px;
	position: relative;
}
.ui-x .btn.btn-no-border {
	border: 0px !important;
}
/* Button colors */
.ui-x .btn.btn-white {
	background: #ffffff;
	color: #666666;
	border: 1px solid #dddddd;
}
.ui-x .btn.btn-white:hover,
.ui-x .btn.btn-white:focus,
.ui-x .btn.btn-white.active,
.ui-x .btn.btn-white:active {
	background: #f7f7f7;
	color: #666666;
}
.ui-x .btn.btn-grey {
	background: #eeeeee;
	color: #666666;
	border: 1px solid #d5d5d5;
}
.ui-x .btn.btn-grey:hover,
.ui-x .btn.btn-grey:focus,
.ui-x .btn.btn-grey.active,
.ui-x .btn.btn-grey:active {
	background: #d5d5d5;
	color: #999;
}
.ui-x .btn.btn-black {
	color: #ffffff;
	background: #666666;
	border: 1px solid #4d4d4d;
}
.ui-x .btn.btn-black:hover,
.ui-x .btn.btn-black:focus,
.ui-x .btn.btn-black.active,
.ui-x .btn.btn-black:active {
	background: #4d4d4d;
	color: #ffffff;
}
.ui-x .btn.btn-red {
	color: #ffffff;
	background: #ed5441;
	border: 1px solid #e52d16;
}
.ui-x .btn.btn-red:hover,
.ui-x .btn.btn-red:focus,
.ui-x .btn.btn-red.active,
.ui-x .btn.btn-red:active {
	color: #ffffff;
	background: #e52d16;
}
.ui-x .btn.btn-green {
	color: #ffffff;
	background: #51d466;
	border: 1px solid #30c247;
}
.ui-x .btn.btn-green:hover,
.ui-x .btn.btn-green:focus,
.ui-x .btn.btn-green.active,
.ui-x .btn.btn-green:active {
	background: #30c247;
	color: #ffffff;
}
.ui-x .btn.btn-lblue {
	color: #ffffff;
	background: #32c8de;
	border: 1px solid #1faabe;
}
.ui-x .btn.btn-lblue:hover,
.ui-x .btn.btn-lblue:focus,
.ui-x .btn.btn-lblue.active,
.ui-x .btn.btn-lblue:active {
	background: #1faabe;
	color: #ffffff;
}
.ui-x .btn.btn-blue {
	color: #ffffff;
	background: #609cec;
	border: 1px solid #3280e7;
}
.ui-x .btn.btn-blue:hover,
.ui-x .btn.btn-blue:focus,
.ui-x .btn.btn-blue.active,
.ui-x .btn.btn-blue:active {
	background: #3280e7;
	color: #ffffff;
}
.ui-x .btn.btn-orange {
	color: #ffffff;
	background: #f8a841;
	border: 1px solid #f69110;
}
.ui-x .btn.btn-orange:hover,
.ui-x .btn.btn-orange:focus,
.ui-x .btn.btn-orange.active,
.ui-x .btn.btn-orange:active {
	background: #f69110;
	color: #ffffff;
}
.ui-x .btn.btn-yellow {
	background: #fcd419;
	color: #ffffff;
	border: 1px solid #dfb803;
}
.ui-x .btn.btn-yellow:hover,
.ui-x .btn.btn-yellow:focus,
.ui-x .btn.btn-yellow.active,
.ui-x .btn.btn-yellow:active {
	background: #dfb803;
	color: #ffffff;
}
.ui-x .btn.btn-purple {
	background: #cb79e6;
	color: #ffffff;
	border: 1px solid #ba4ede;
}
.ui-x .btn.btn-purple:hover,
.ui-x .btn.btn-purple:focus,
.ui-x .btn.btn-purple.active,
.ui-x .btn.btn-purple:active {
	background: #ba4ede;
	color: #ffffff;
}
.ui-x .btn.btn-rose {
	background: #ff61e7;
	color: #ffffff;
	border: 1px solid #ff2edf;
}
.ui-x .btn.btn-rose:hover,
.ui-x .btn.btn-rose:focus,
.ui-x .btn.btn-rose.active,
.ui-x .btn.btn-rose:active {
	background: #ff2edf;
	color: #ffffff;
}
.ui-x .btn.btn-brown {
	background: #d08166;
	color: #ffffff;
	border: 1px solid #c4613f;
}
.ui-x .btn.btn-brown:hover,
.ui-x .btn.btn-brown:focus,
.ui-x .btn.btn-brown.active,
.ui-x .btn.btn-brown:active {
	background: #c4613f;
	color: #ffffff;
}
/* Label */
.ui-x .label {
	border-radius: 2px;
	font-weight: normal;
	padding: 3px 7px;
	font-size: 12px;
	line-height: 18px;
}
/* Label sizes */
.ui-x .label.label-xs {
	font-size: 10px;
	padding: 1px 5px;
	line-height: 12px;
}
.ui-x .label.label-sm {
	font-size: 11px;
	padding: 2px 6px;
	line-height: 15px;
}
.ui-x .label.label-lg {
	font-size: 13px;
	padding: 5px 9px;
	line-height: 23px;
}
/* Label colors */
.ui-x .label.label-white{
	color: #666666 !important;
	background: #f7f7f7;
}
.ui-x .label.label-grey {
	color: #666666 !important;
	background: #eeeeee;
}
.ui-x .label.label-black {
	color: #ffffff;
	background: #666666;
}
.ui-x .label.label-red {
	color: #ffffff;
	background: #ed5441;
}
.ui-x .label.label-green {
	color: #ffffff;
	background: #51d466;
}
.ui-x .label.label-lblue {
	color: #ffffff;
	background: #32c8de;
}
.ui-x .label.label-blue {
	color: #ffffff;
	background: #609cec;
}
.ui-x .label.label-orange {
	color: #ffffff;
	background: #f8a841;
}
.ui-x .label.label-yellow {
	background: #fcd419;
	color: #ffffff;
}
.ui-x .label.label-purple {
	background: #cb79e6;
	color: #ffffff;
}
.ui-x .label.label-rose {
	background: #ff61e7;
	color: #ffffff;
}
.ui-x .label.label-brown {
	background: #d08166;
	color: #ffffff;
}
/* Badges */
.ui-x .badge {
	min-width: 10px;
	padding: 3px 7px !important;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	display: inline-block;
	color: #fff;
	border-radius: 10px;
}
.ui-x .badge.badge-white {
	color: #666666;
	background: #ffffff;
}
.ui-x .badge.badge-grey {
	color: #a2a2a2;
	background: #eeeeee;
}
.ui-x .badge.badge-black {
	color: #ffffff;
	background: #666666;
}
.ui-x .badge.badge-red {
	color: #ffffff;
	background: #ed5441;
}
.ui-x .badge.badge-green {
	color: #ffffff;
	background: #51d466;
}
.ui-x .badge.badge-lblue {
	color: #ffffff;
	background: #32c8de;
}
.ui-x .badge.badge-blue {
	color: #ffffff;
	background: #609cec;
}
.ui-x .badge.badge-orange {
	color: #ffffff;
	background: #f8a841;
}
.ui-x .badge.badge-yellow {
	color: #ffffff;
	background: #fcd419;
}
.ui-x .badge.badge-purple {
	color: #ffffff;
	background: #cb79e6;
}
.ui-x .badge.badge-rose {
	color: #ffffff;
	background: #ff61e7;
}
.ui-x .badge.badge-brown {
	color: #ffffff;
	background: #d08166;
}
.ui-x .btn .badge {
	position: absolute;
	top: -13px;
	right: -8px;
}
/* Social Media */
.ui-x .facebook {	background: #3280e7; }
.ui-x .facebook:hover { background: #134fa0; }
.ui-x .twitter { background: #32c8de;}
.ui-x .twitter:hover {	background: #188392;}
.ui-x .google-plus {background: #f96f4a;}
.ui-x .google-plus:hover {	background: #eb6440;}
.ui-x .linkedin  {	background: #729fda;}
.ui-x .linkedin:hover {background: #3069b6;}
.ui-x .pinterest {	background: #ed5441;}
.ui-x .pinterest:hover { background: #b72411;}
.ui-x .dropbox {background: #32c8de;}
.ui-x .dropbox:hover {	background: #188392;}
.ui-x .bitcoin {background: #f8a841;}
.ui-x .bitcoin:hover {	background: #cc7607;}
.ui-x .foursquare {background: #22bed4;}
.ui-x .foursquare:hover {background: #146f7c;}
.ui-x .flickr { background: #ff61e7;}
.ui-x .flickr:hover {	background: #fa00d4;}
.ui-x .github {background: #666666;}
.ui-x .github:hover {	background: #333333;}
.ui-x .instagram {	background: #d6917a;}
.ui-x .instagram:hover {background: #b35637;}
.ui-x .skype {background: #32c8de;}
.ui-x .skype:hover {background: #188392;}
.ui-x .tumblr {background: #84a1c8;}
.ui-x .tumblr:hover {background: #476d9f;}
.ui-x .vimeo {background: #32c8de;}
.ui-x .vimeo:hover {background: #188392;}
.ui-x .dribbble{background: #ff2edf;}
.ui-x .dribbble:hover {background: #c700a9;}
.ui-x .youtube {background: #ed5441;}
.ui-x .youtube:hover {	background: #b72411;}

/* General CSS */
.ui-x body{
	background:#f4f8fd;
}
/* UI - X */
.ui-222{
	margin:60px 0px;
}
/* Button */
.ui-222 a{
	max-width: 170px;
	margin: 20px auto;
	display: block;
	height:50px;
}
/* Icon */
.ui-222 a > i{
	display:inline-block;
	float:left;
	width:50px;
	height: 100%;
	line-height:50px;
	color:#fff;
	font-size: 24px;
	text-align:center;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
/* Heading */
.ui-222 a > strong{
	margin-left:50px;
	display:block;
	height:100%;
	line-height:48px;
	color: #777;
	border:1px solid #ddd;
	border-left:0px;
	padding-left:13px;
	font-size:13px;
	font-weight: 600;
	background:#fff;
	text-transform:uppercase;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}