.chat_fix {
    position: fixed;
    bottom: -20px;
    width: 321px;
    right: 20%;
    z-index: 99;
}
.direct-chat {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}
.users-modal .users-list>li {
    width: 12%;
}

.users-list>li:hover img {
    border: 1px solid silver
}

.content-header {
    position: relative;
    padding: 15px 15px 15px 25px;
}

.box-body .pad {
    padding: 11px;
}